@charset "UTF-8";

*{margin: 0; padding: 0; font-family: Arial;}

body{
    background-color: rgb(60, 123, 249);
    display: flex;
    flex-direction: column;
    align-items: center;

}

header, footer{
    color: white;
    margin: 30px;

    font-size: 22pt;
    font-weight: bold;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.664);
    
}

section{
    background-color: white;
    width: 350px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.413);

    text-align: center;
}

section div {
    margin: 20px;
}

#num{
    width: 50px;
    padding: 2px;
}

#botao{
    padding: 2px;
}

#tab{ 
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

footer p {
    font-size: 10pt;
}